.editorjs-text-alignment--right {
    text-align: right;
}
.editorjs-text-alignment--center {
    text-align: center;
}
.editorjs-text-alignment--left {
    text-align: left;
}
.editorjs-text-alignment--justify {
    text-align: justify;
}